body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
    font-size: 24px;
    color: rgb(19, 18, 18)
    
}


.container{
    display: grid;
    grid-template-columns: 30% 1fr 1fr;
    grid-template-rows:  100px 100px 30%;
    width: 800px;
    height: 500px;
    border: 2px solid rgb(20, 18, 18);
    margin: 100px auto;
    background-color: rgb(13, 14, 14);
    gap: 10px 10px;
    text-align: center;
    
    
}

.grid-item{
    background-color: azure;
    border-radius: 8%;
    
}
.grid-item:hover{
    background-color: aqua;
}



