body{
    background-color: blueviolet;

}
div{
    background-color: aqua;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    padding: 40px;

}
.two{
    background-color: #ffa500;
    margin-left: 200px;

}
.three{
    margin-left: 400px;
}
.hh{
    background-color: blueviolet;
    width: 100px;
}