*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.4;
}
.container{
    display: flex;
    gap: 40px;
}
.product{
    width: 825px;
    border: 4px solid black;
    margin: 50px auto;
}
.heed1{
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    font-size: 24px;
    background-color: #f7f7f7;
    font-weight: bold;
}
.My{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    
}
.price{
    font-size: 24px;
    font-weight: bold;
}
.free{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #777777;
    margin-bottom: 20px;
}
.product-details{
    margin-top: 15px;
    
}
.product5{
    text-transform: uppercase;
}
.ul{
    margin-left: 10px;

}
.li{
    margin-bottom: 10px;
    list-style: square;
}
.button{
    background-color: black;
    color: #f7f7f7;
    width: 100%;
    padding: 16px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-top: 1px solid black;
}
.button:hover{
    background-color: aliceblue;
    color: black;
}